@use "../base/tokens" as *;

.events__body {
  background-color: #002f4c;
}

.events__page {
  padding: 0;

  h2 {
    color: #fff;
    font-weight: 400;
    font-size: 57px;
    margin: 0 0 30px;
    line-height: 53px;
  }

  p {
    color: #ffff;
  }

  .events__filters {
    color: #ffff;
  }
}

.events__grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;

  .event-card {
    min-width: 324px;
    min-height: 324px;
    max-width: 100%;
  }
}

@media (max-width: 56rem) {
  .events__page {
    h2 {
      font-size: 32px;
    }
  }

  .events__grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .event-card {
              min-width: 160px;
        max-width: 90%;
        min-height: 320px;
    }
  }
}